<p style="color: green"><%= notice %></p>

<%= render @purchase_item %>

<div>
  <%= link_to "Edit this purchase item", edit_purchase_item_path(@purchase_item) %> |
  <%= link_to "Back to purchase items", purchase_items_path %>

  <%= button_to "Destroy this purchase item", @purchase_item, method: :delete %>
</div>
