<div id="<%= dom_id digital_asset %>">
  <p>
    <strong>Title:</strong>
    <%= digital_asset.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= digital_asset.description %>
  </p>

  <p>
    <strong>File url:</strong>
    <%= digital_asset.file_url %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= digital_asset.price %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= digital_asset.creator_id %>
  </p>

</div>
